
.navbar-default {
  background-color: #0F0A83;
  border-color: transparent;
}

.navbar-default .navbar-brand {
  color: #E7F5FF;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #E7F5FF;
}

.navbar-default .navbar-text {
  color: #E7F5FF;
}

.navbar-default .navbar-nav > li > a {
  color: #E7F5FF;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #E7F5FF;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #E7F5FF;
  background-color: transparent;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #E7F5FF;
  background-color: transparent;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #04498F;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #E7F5FF;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #E7F5FF;
}

.navbar-default .navbar-link {
  color: #E7F5FF;
}

.navbar-default .navbar-link:hover {
  color: #E7F5FF;
}

.logo-navbar {
  display: flex;
  float: right;
  padding-top: 0.1rem;
  padding-left: 0.5rem;
}

.logo-icon {
  height: 40px;
}

.navbar-nav{
  float:right;
  margin:0;
}

.dropdown-item {
  color: #E7F5FF;
}

.dropdown-menu {
  background: #0F0A83;
  border-radius: 6px;
  padding: 0.2rem;
  padding-left: 0.4rem;
}

.dropdown-item:hover {
  color: #E7F5FF;
  background: #04498F;
}

@media screen and (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #E7F5FF;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #E7F5FF;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #E7F5FF;
    background-color: transparent;
  }
  
  .logo-navbar {
    float: left;
  }
}
