* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #FFECEE;
  font-family: 'Nunito', sans-serif;
  color: #3F3D56; 
}

body {
  width: 100%;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

header {
  width: 100%;
  text-align: left;
}

h1 {
  margin: 20px 0;
  font-size: 28px;
}

.formulario {
  border: 2px solid #282828;
  border-radius: 10px;
  background-color: #E8F5F4;
  height: 600px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 0 10px #E8F5F4;
}

label {
  color: #1B6E7C;
  width: 80%;
}

input {
  border: #FFA4A8 2px solid;
  border-radius: 6px;
  background: #FFECEE;
  color: #3F3D56;
  padding: 10px;
  outline-style: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 400px;
}

.button {
  border: 2px solid #1B6E7C;
  border-radius: 6px;
  height: 54px;
  text-decoration: none;
  width: 220px;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #3F3D56;
}

.button:hover {
  background-color: #1B6E7C;
  color: #c3c2c2;
  transition: .6s;
}

a {
  text-decoration: none;
}

.nav {
  font-size: 18px;
  color: #3F3D56;
  font-weight: 300;
}

.nav:hover {
  font-weight: bold;
}

.containerButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 180px;
}

@media screen and (min-width:494px) {
  .formulario {
    width: 480px;
  }

  input, label, .button {
    font-size: 20px;
  }

  .button {
    width: 300px;
  }
} 